<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/jscript" src="../../static/js/pelicula.js"></script>
    <link rel="stylesheet" href="../../static/css/pelicula.css" type="text/css">
    <title>{{pelicula.titulo}}</title>
</head>
<body>
    <div class ="todo">
        <div class="lado">
            {% for pelicula in movie %}
            <div id="foto">
                <img src="../../static/images/{{pelicula.titulo}}.jpg" alt="Caratula" height="420" width="420">
            </div>
            <div id="datos">
                    <p><strong>Título: </strong> {{pelicula.titulo}}</p>
                    <p><strong>Director: </strong>{{pelicula.director}}</p>
                    <p><strong>Género: </strong>{{pelicula.genero}}</p>
                    <p><strong>Sinopsis: </strong>{{pelicula.sinopsis}} </p>
                    <p hidden = "true" id="idPeliculaa" valor="{{id}}"></p>
            </div>
             {% endfor %}
            <div class="comentarios">
                <h3>Comentarios:</h3>
                 <ul>
                    {% for coment in comentarios %}
                            <li>{{coment.texto}}</li>
                    {% endfor %}
                </ul>

                {% block content %}
                <h3>Añade un Comentario</h3>
                <form method="POST" class="comentario-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Añadir</button>
                </form>
                {% endblock %}

            </div>
        </div>

        <div class="lado">
            <h3>Lista de Sesiones para esta pelicula:</h3>
            <div id="sesiones ">

                    {% for e in sesiones %}
                            <a id='{{e.idsesion}}' class="sesion" >{{ e.fecha }} </a>
                    {% endfor %}

            </div>

            <div id="salas">

                {{listaSalas}}
                 {% for sala in listaSalas %}
                    <p>Sala: {{sala.idsala}}</p>
                    <p>{{sala}}</p>
                    {% for fil in filas %}
                        <div>
                            {% for col in columnas %}
                            <input type="checkbox" class="{{fil}}" id="{{col}}">
                            {% endfor %}
                        </div>


                    {% endfor %}
                    {% for f in ultFilas %}
                        {% for col in columnas %}
                            <input type="checkbox" class="ult_{{f}}" id="ult_{{col}}">
                        {% endfor %}>
                    {% endfor %}
                 {% endfor %}
            </div>

            <div id="butacas">


            </div>
        </div>
    </div>
</body>
</html>