<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/jscript" src="../../static/js/pelicula.js"></script>
    <link rel="stylesheet" href="../../statoc/css/pelicula.css" type="text/css">

    <title>{{pelicula.titulo}}</title>
</head>
<body>
    <div id="izquierdo">
        <div id="foto">

        </div>
        <div id="datos">

        </div>
        <div id="comentarios">

            <p> <button id="botonComentar"></button><input id="textoComentario" type="text"> </input> </p>
        </div>
    </div>

    <div id="derecho"> //aka el chungo
        <div id="sesiones ">


        </div>

        <div id="salas">

        </div>

        <div id="reserva">

        </div>
    </div>
</body>
</html>