<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/jscript" src="../../static/js/cartelera.js"></script>
        <link rel="stylesheet" href="../../static/css/cartelera.css" type="text/css">

    <title>Cartelera cine</title>
</head>
<body>
    <div id="principal">
        <h1>Cines buenavista</h1>
        <div id="buscador">
            <p>
                Genero
                <select id ="select">
                    <option genero="nulo">...</option>
                    {% for g in listaGeneros %}
                        <option> {{ g }} </option>
                    {% endfor %}

                </select>
                Busca por titulo o director
                <input id="busquedaTexto" type="text">

                </input>
            </p>
        </div>

        <div id="lista">
            <ul>
                {% for e in listaPeliculas %}
                        <li genero="{{ e.genero }}" titulo="{{ e.titulo }}" director="{{ e.director}}" > <a href="pelicula/{{ e.idpelicula }}"> {{ e.titulo }}</a> </li>
                {% endfor %}
            </ul>


        </div>

    </div>

</body>
</html>